langchain
langchain-community
langchain-ollama
langchain_huggingface
ollama
streamlit
faiss-cpu
PyPDF2
transformers
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
sentence-transformers
faiss-cpu